<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
    <style>
        table{border-collapse:collapse;}
        table,th, td{border: 1px solid black;padding: 5px;text-align: center;}
    </style>
</head>
<body>
<br/>
<br/>
<a href="/adduser">新增用户</a>
<br/>
<br/>
<table>
    <tr>
    <th>id</th>
    <th>username</th>
    <th>sex</th>
    <th>birthday</th>
    <th>address</th>
    <!--<th>decidedzoneId</th>-->
    </tr>
    <!--
        对集合变量hello进行遍历
    -->
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.sex}"></td>
        <td th:text="${user.birthday}"></td>
        <td th:text="${user.address}"></td>
        <!--        <td th:text="${customer.decidedzoneId}"></td>-->
    </tr>
    <br/>
    <a th:href="@{ /selectByPageTest(currPage=1) }">首页</a>
    <a th:href="@{/selectByPageTest(currPage=${currPage}-1)}">上一页</a> <!--这两个currPage要分清，第一个是要传给后端的，也就是上一页的页数，第二个是后端传过来的，也就是这一页的页灵长-->

    <span th:each="i : ${ #numbers.sequence(1,totalPage) }">
        <a th:text="${i}" th:href="@{ /selectByPageTest(currPage=${i}) }"></a>
    </span>

    <a th:href="@{/selectByPageTest(currPage=${currPage}+1)}">下一页</a>
    <a th:href="@{ /selectByPageTest(currPage=${totalPage}) }">尾页</a>

    <div>
        <form action="/selectByPageTest" method="get">
            跳转到第
            <input type="number" name="currPage" />
            页
            <input type="submit" value="跳转"/>
        </form>
    </div>
</table>
</body>
</html>

