<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.itemsMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.items">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="pic" jdbcType="CHAR" property="pic" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="detail" jdbcType="CHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, price, pic, createtime, detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from items
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from items
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.items">
    insert into items (id, name, price, pic, 
      createtime, detail)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{price,jdbcType=REAL}, #{pic,jdbcType=CHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{detail,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.items">
    insert into items
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.items">
    update items
    <set>
      <if test="name != null">
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.items">
    update items
    set name = #{name,jdbcType=CHAR},
      price = #{price,jdbcType=REAL},
      pic = #{pic,jdbcType=CHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      detail = #{detail,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>